<div class="container">
<p> </p>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Hey, wanna write something stupid?</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>


        <div class="form-group">
            <div>
            <button type="submit" class="btn btn-success btn-block">Blab it!</button>
            </div>
        </div>
    </form>
</div>