
<div class="container">
    <div class="jumbotron">
    <h1>Welcome to Blabber</h1>
    <p>Blabber is the stupitest application meant for people to say whatever they think for no reason at all</p>
    <p><a class="btn btn-primary btn-lg" href="/blabs" role="button">Learn more</a></p>
    </div>
    
</div>
